<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create post</title>
</head>
<body>
    <h1>Create new post</h1>
    <form action="/posts" method="POST">
        <input type="text" name="title" placeholder="Enter title ...">
        <textarea type="text" name="content" placeholder="Enter content ..." required></textarea><br><br>
        <input type="text" name="author" placeholder="Enter author name ...">
        <button type="submit">Add</button>
        <a href="/posts">Back</a>
    </form>
</body>
</html>